.button{
    
background: transparent;
color:#fff;
    border: none;
    outline: none;
}
.button:hover{
   background-color: gray;
}
.button1{
    margin: 1rem;
    border: none;
    color:#fff;
    background: transparent;
    outline: none;
}
.button1:hover{
    background-color: gray;
 }
.container{

    /* width: 100%; */
    box-sizing: 1rem;
    color: #e6ecf0;
    padding-right: 80%;
    /* bottom: 8rem;    */
    right: 0;
    position:fixed; 
    top:77%;
    border-radius: 30%;
    /* box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); */

}
.container1{
    display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
    /* width: 50%; */
    width: fit-content;
    background-color: #000;
    padding: 1rem 2rem 0rem 2rem;
     box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}